* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    color: white;
}

.pin {
    display: flex;
    align-items: center;
    margin-right: 5px; /* Дистанция между стрелкой и текстом */
}

.header {
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 5%;
    padding: 20px;
    height: 80px;
    width: 90%; /* Ширина на всю страницу */
    border-radius: 20px;
    background: #171616;
}

.nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.nav-list {
    display: flex;
    width: 60%;
    justify-content: space-between;
    list-style: none;
}

.nav-list li a {
    width: 10%;
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
}

.nav-list li a:hover {
    text-shadow: 0 0 10px #00FF00; /* Зеленый цвет при наведении */
}

.logo {
    display: flex;
    align-items: center;
    margin-right: 20px;
    text-shadow: 0 0 10px #00FF00; /* Отступ справа для красивого выравнивания */
}

.logo img {
    height: 40px;
    margin-right: 10px;
}

.logo-text {
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
}

.logo-text span {
    color: #00FF00; /* Зеленый цвет для "Yellow Pine" */
}
